<h1>Confirmation de votre commande</h1>

<p>Votre commande a bien été enregistrée et le paiement a été confirmé, les détails concernants sa livraison vous seront transmis rapidement.
<br>
<br>
Cordialement, Michel et Gilles.</p>
