.larger-container {
  max-width: 1450px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  a {
    text-decoration: none;
    color: black;
  }
}

.categories-choice {
  width: auto;
}

.dropdownbtn {
  background-color: #43E140;
  border-color: #43E140;
  color: white;
}

@media(max-width: 500px){
  .categories-choice {
    display: none;
  }
}
