// TRENDING PRODUCT AREA
.product_moment {
  height: auto;
  width: 100vw;
  // border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 15px;
  border-radius: 10px;
  // box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .1);
  padding: 10px;
  margin-bottom: 20px;
}

.product-card-title {

}

.prod-description {
  height: 260px;
  overflow: scroll;
}

.image img {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
  margin-right: 60px;
}

.add_to_cart {
  margin-bottom: 15px;


  input {
    width: 40px;
    border-radius: 10px;
  }
}

.qualities {
  width: 100%;
  height: 20vh;
  margin-top: 15px;
}

// ABOUT AREA

.about {
  span {
    color: #43E140;
  }
  img {
    margin-top: 20px;
    border-radius: 60%;
  }
}

.michel-descript {
  width: 25vw;
  margin-left: 30px;
  font-weight: lighter;
}

// MIDDLE BANNER AREA

.home-medium {
  img {
    height: 70vh;
    object-fit: cover;
  }
}

.first-photo {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("photoveau.png");
  background-attachment: fixed;
  height: 80vh;
}

.second-photo {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("cornetordue.jpg");
  background-attachment: fixed;
  height: 80vh;
  background-size: cover;
}

.third-photo {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("deuxvachessoleil.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
}

// REVIEW AREA

.reviews {
  display: flex;
}

.first-review {
  width: 30%;
}

.second-review {
  width: 30%;
}

.image {
  display: flex;
}

.messenger {
  position: sticky;
  z-index: -1;
}

// RECIPES AREA

.recipe-img {
  img {
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

  }
}

.preparation {
  display: flex;
}

.ingredients {
  p {
    font-size: 12px;
  }
}

.steps {
  width: 60%;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}

@media(max-width: 800px) {
  .image {
    display: block;
  }

  .first-photo {
    background-position: center;
    background-attachment: initial;
  }

  .second-photo {
    background-position: -300px 0px;
    background-attachment: initial;
  }

  .third-photo {
    background-position: -300px 0px;
    background-attachment: initial;
  }
}

@media(max-width: 500px) {
  .image {
    display: block;
    img {
      width: 300px;
      height: 160px;
      margin: 0;
    }
  }

  .add_to_cart {
    h4 {
      font-size: 14px;
    }
    input {
      width: 30px;
      height: 25px;
    }
  }
  h4 {
    font-size: 18px;
  }

  .product_moment {
    h4 {
      font-size: 18px;
    }
  }

  .product-card-title {
    h4 {
      margin-top: 15px;
      font-size: 16px;
    }
  }

  .first-review {
    width: 80%;
  }

  .second-review {
    width: 80%;
  }

  .reviews {
    flex-direction: column;
    padding-left: 30px;
  }

  .first-photo {
    background-position: top -300px left -700px;
  }

  .second-photo {
    background-position: 500px 0;
  }

  .third-photo {
    background-position: 400px 0;
  }

  .qualities {
    font-size: 10px;
  }

  // RECIPE AREA

  .recipe-img {
    img {
      width: 100%;
    }
  }

  .preparation {
    display: block;
  }

  .ingredients {
    p {
      font-size: 9px;
      margin: 0 auto;
      text-align: center;
    }

    ul {
      padding: 0;
    }
  }

  .steps {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    ul {
      padding: 0;
    }
  }
}

