<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-facebook-messenger"></i></a>
  </div>
  <div class="footer-copyright">
    © 2020, Ferme de Beau Printemps
  </div>
</div>
