<div class="container">
  <h3>Votre commande du <%#= @order.created_at %></h3>

  <p>User_id :<%= @order.user_id %></p>
  <p><%= @order.created_at.strftime("%d %b. %Y") %></p>

  <p>Prix :<%= @order.amount_cents %></p>
  <p>Produits :<% @order_items.each do |item| %></p>
    <p><%= item.name %></p>
  <% end %>

  Acompte déjà payé :<%#= @order.amount_cents %> €
  Reste à payer à la reception : €
</div>
