<%= render 'shared/navbar_colored' %>
<div class="container">
  <p style="margin-top: 100px;"class="text-left">Livraison désormais possible sous température dirigée sur toute la France avec le service Chronofresh. Nous contacter avant de passer commande si vous êtes hors des limites du secteur de livraison ci-dessous :<br>
  Nous livrons nos colis de viande dans une zone géographique s'étendant de Forbach à Strasbourg.<br>
  N'hésitez pas à appeler au 06 58 96 38 05 si vous souhaitez confirmation, ou envoyer un mail à contact@letiroiraterroirs.com.<br>
  D'autres livraisons peuvent être réalisées hors de ce cercle avec notre accord préalable à votre commande, possibilité de livrer jusqu'à Metz en fonction du volume commandé ! </p>
  <p class="text-center"><iframe class=""style="margin-top: 30px;" src="https://www.google.com/maps/d/u/0/embed?mid=1HaoAPLVQzUfHxCxS5u8Vt112y8Rc9yRI" width="640" height="480"></iframe></p>
  <p style="margin-top: 100px;" class="text-center">Toute commande passée par un client sans s'être assuré auprès de l'EARL de Beau Printemps de la possibilité de livraison hors de cette zone ne pourra être honorée, et l'acompte ne sera pas rétribué.</p>
</div>





