<%= render 'shared/navbar_colored' %>
<div class="container" style="margin-top: 100px;">
<h1 class="text-center">Notre Élevage</h1>
<p>
  La ferme familiale de Beau Printemps, à Petit-Réderching s'étends sur plus de 150 hectares. Gilles, l'aîné de la fratrie a mené la conversion de la ferme en Agriculture Biologique peu après son installation et la reprise de la ferme des parents.
  <br>
  <br>
  Découvrez ici son témoignage :
  <br>
  <br>
</p>
<h2 class="text-center">
  Gilles. Fier éleveur en Agriculture Biologique.
</h2>
<p>Passionné. C’est le terme qui vous vient directement lorsque vous passez un peu de temps avec Gilles et Michel, frères et fiers éleveurs en Agriculture Biologique.</p>
  <p class="text-center">
    <div>
  <div class="elevage-img" style="margin-bottom: 0;background-image: url(https://cdn-images-1.medium.com/max/1000/1*rXwVC_8EiaiC73vvw-169A.jpeg); height: 80vh; width: 70vw;background-position: bottom; background-size: cover; background-repeat: no-repeat; margin: 0 auto;">

  </div>
  <p class="text-center" style="font-size: 12px; margin-top: 0;">Gilles. Eleveur de vaches de race limousine en Agriculture Biologique à Petit-Réderching (Moselle Est).</p>
</div>
  </p>

<p>
  Ses animaux, c’est un peu sa vie. Il connait ses vaches par coeur. Nul besoin de s’approcher, lui, le numéro d’identification d’une vache (cette fameuse boucle d’oreille orange) il le connait avant même de le voir, symbole du temps passé à les scruter chacune, pour s’assurer de leur bonne santé. Gilles a mené la conversion en agriculture biologique de l’intégralité de la ferme qu’il exploite avec ses parents et ses frères en 2012. On le laisse nous expliquer : <br><br>

  " C’était une nécessité, je ne me voyais pas continuer dans le système chimique, j’avais horreur de manipuler les pesticides et de passer le pulvérisateur sur mes champs. Mais les premières années quand j’ai repris la ferme, j’ai bien dû continuer à le faire. Se convertir en Agriculture Biologique n’est pas si facile, et ça ne se fait pas en un claquement de doigts, loin de là. <br><br>

  Mais depuis que l’on est sorti de ce système, je sens que je maitrise mieux l’avenir de l’exploitation, alors qu’avant, j’étais notamment soumis à la fluctuation des prix des produits chimiques (engrais et pesticides en tête !)."
</p>
<div>
 <div class="elevage-img"  style="margin-bottom: 0;background-image: url(https://cdn-images-1.medium.com/max/800/1*54IOcBTCft1kMQP5AU0PzA.jpeg); height: 80vh; width: 60vw;background-size: cover; background-repeat: no-repeat; margin: 0 auto;">

 </div>
 <p class="text-center" style="font-size: 12px; margin-top: 0;">Mélange de céréales cultivées sur la ferme (Pois, Triticale et Seigle)</p>
</div>
<p>
  « On essaye d’être le plus auto-suffisant possible ! Pour nourrir nos bêtes, on mise sur les céréales produites à la ferme, on n’achète pas de compléments à l’extérieur. On se limite au maximum, ce ne sont que les produits comme le sel brut non raffiné que l’on ne peut pas produire nous même que nous achetons pour nourrir nos vaches, mais c’est vraiment très marginal »<br><br>

  Sincèrement moi les coups marketing du type « nourri à la graine de lin » pour augmenter le taux d’omega 3, je trouve que c’est de l’enfumage du consommateur. <br><br>

  “Une vache ça mange de l’herbe !” <br><br>

  D’ailleurs la viande de vaches nourries à l’herbe est déjà naturellement riche en omega 3, c’est scientifiquement prouvé !

  Au final c’est toujours la même chose, les commerçants demandent toujours aux producteurs de faire des efforts, une fuite en avant sans fin et qui est complètement stupide à mon sens ! <br><br>

  On voit bien où ça a mené les agriculteurs ! Il faut dire stop !
</p>
<div>
 <div class="elevage-img"  style="margin-bottom: 0;background-image: url(https://cdn-images-1.medium.com/max/600/1*JHaIg9hqq_tmX9PcPfI3kQ.jpeg); height: 50vh; width: 30vw;background-size: cover; background-repeat: no-repeat; margin: 0 auto;">

 </div>
</div>

<p>
  Nous on produit quelque chose de simple et de sain, pour le meilleur des goûts possibles ! <br><br>

  Je n’ai jamais entendu personne se plaindre de la qualité de la viande de mes animaux, et ça pour moi, ça vaut tous les labels ! <br><br>

  Revenons à la simplicité d’autrefois, moi je dis stop au « modernisme » stupide ! <br><br>

  On vous l’avait annoncé, Gilles est pour le moins passionné et a des convictions fortes ! Ca l’amène à nous parler de son métier : <br><br>

  « Moi je ne me vois pas faire autre chose que ça ! J’adore mon métier et j’essaie de le valoriser au mieux. <br><br>
</p>

<div>
 <div class="elevage-img"  style="margin-bottom: 0;background-image: url(https://cdn-images-1.medium.com/max/800/1*b3dYgn9Q9IBxxcjdAdm9aA.jpeg); height: 70vh; width: 50vw;background-size: cover; background-repeat: no-repeat; margin: 0 auto;">

 </div>
</div>

</div>
