.home_banner {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("home_test.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 0px;
  padding: 350px 0px;
  background-attachment: fixed;

  a {
    background-color: #43E140;
    padding: 8px 25px;
    color: white;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, .1);
    font-weight: bold;
    text-decoration: none;
  }

  p {
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 18px;
    opacity: 0.8;
  }

  h5 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 30px;
    opacity: 0.8;
  }

  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 60px;
  }

  span {

  }
}

.home-medium-banner {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("photoveau.png");
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-position: 50% 0px;
  padding: 350px 0px;
  background-attachment: fixed;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media(max-width: 500px) {
  .home_banner {
    background-size: auto;
    position: fixed;
    z-index: -1;
    height: 100vh;
    padding: 150px 0;
    h1 {
      font-size: 35px;
    }

    h5 {
      font-size: 25px;
    }

    p {
      font-size: 14px;
    }
  }
}
