.navbar-lewagon {
  width: 100%;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  z-index: 2;
}

.navbar-colored {
  width: 100%;
  justify-content: space-between;
  background: #434040;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-colored .navbar-collapse {
  flex-grow: 0;
}

.img-right a {
  margin-right: 10px;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.title {
  color: white;

  span {
    color: #43E140;
  }
}

.tabs {
  a {
    text-decoration: none;
    color: white;
  }
}

@media(max-width: 500px) {
  .title {
    font-size: 14px;
  }

  .tabs {
    font-size: 8px;
    flex-direction: column;
    text-align: center;

    a {
      margin-top: 5px;
    }
  }
}


