.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  // display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  // border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // box-shadow: 5px 10px 135px -20px rgba(0,0,0,0.3);
  text-decoration: none;
  // border:0!important;
  padding: 15px;

  a {
    color: white !important;
    text-decoration: none;
    border: none;
    // border:0!important;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    // border:0!important;
  }

  :hover {
    text-decoration: none;
  }
}

.product-place {
  height: 120px;
}

.product-price {
  // display: flex;
  // justify-content: flex-end;
  margin-bottom: 10px;

  span {
    opacity: 0.6;
    position: relative;
    z-index: 1;
  }
}

.product-name {
  height: 60px;

  p {
    opacity: 0.8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
