<div class="home_banner">
  <h1 class="text-center">FERME DE <span>BEAU</span> PRINTEMPS</h1>
  <h5 class="text-center">AGRICULTURE BIOLOGIQUE</h5>
  <p class="text-center">Direct de l'éleveur au consommateur</p>
</div>

<%= @product.name %>
<%= @product.description %>
<%= humanized_money_with_symbol(@product.price) %>
<%= link_to 'Add to Cart', add_to_cart_path(@product), method: :put %>


